@media (max-width: 1536px) {
    .member__container {
        width: 70%;
    }
}

@media (max-width: 1435px) {
    .member__container {
        width: 78%;
    }
}

@media (max-width: 1276px) {
    .member__container {
        width: 84%;
    }
}

@media (max-width: 1202px) {
    .member__container {
        width: 84%;
    }

    .member__photo {
        width: 20%;
    }
}

@media (max-width: 1070px) {
    .member__container {
        width: 94%;
    }

    .member__photo {
        width: 20%;
    }
}

@media (max-width: 981px) {
    .member__container {
        width: 100%;
    }

    .member__photo {
        width: 20%;
    }
}

@media (max-width: 897px) {
    .member__container {
        width: 100%;
    }

    .member__photo {
        width: 23%;
    }
}

@media (max-width: 876px) {
    .member__container {
        width: 100%;
    }

    .member__photo {
        width: 26%;
    }

    .member__box {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .member__container_right {
        align-items: center;
    }

    .container__right_p {
        text-align: center;
    }

    .member__container_right {
        gap: 2rem;
    }

    .team__members {
        gap: 4rem;
    }

    .member__job {
        font-size: 1.1rem;
    }
}

@media (max-width: 784px) {
    .member__container_left  {
        width: 54%;
    }
}

@media (max-width: 694px) {
    .member__container_left  {
        width: 68%;
    }

    .member__container_right  {
        width: 64%;
    }
}

@media (max-width: 623px) {
    .member__container_left  {
        width: 74%;
    }
}

@media (max-width: 567px) {

    .member__container_left  {
        width: 80%;
    }
}

@media (max-width: 517px) {

    .member__container_left  {
        width: 90%;
    }

    .member__job {
        font-size: 1.1rem;
    }
}

@media (max-width: 436px) {

    .member__photo {
        width: 32%;
        height: 6rem;
    }

    .member__container_left  {
        width: 95%;
    }

    .container__right_h3 {
        font-size: 1.75rem;
    }

    .hero__left_h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 360px) {

    .member__photo {
        width: 37%;
        height: 6rem;
    }
}

@media (max-width: 306px) {

    .member__photo {
        width: 44%;
        height: 6rem;
    }
}

@media (max-width: 268px) {

    .member__photo {
        width: 50%;
        height: 6rem;
    }

    .container__right_h3 {
        font-size: 1.65rem;
    }

    .member__name  {
        font-size: 1.3rem;
    }

    .member__job {
        font-size: 0.9rem;
        text-align: center;
    }
}

@media (max-width: 233px) {
    .container__right_h3 {
        font-size: 1.25rem;
    }

    .hero__left_h2 {
        font-size: 1.1rem;
    }
}




// ! Nav and more 

@media (max-width: 744px) {
    .hero__inner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }

    .hero__left_h2 {
        text-align: center;
        width: 90%;
    }

    .hero__left_desc {
        text-align: center;
    }

    .hero__left {
        width: 100%;
        align-items: center;
    }

    .hero__right {
        width: 100%;
        justify-content: center;
    }

    .header__links {
        display: none;
    }

    .bi-list {
        display: inline-block;
    }
}


@media (max-width: 911px) {
    .hero__inner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
    }

    .hero__left_h2 {
        text-align: center;
        width: 90%;
    }

    .hero__left_desc {
        text-align: center;
    }

    .hero__left {
        width: 100%;
        align-items: center;
    }

    .hero__right {
        width: 100%;
        justify-content: center;
    }

    .header__links {
        display: none;
    }

    .bi-list {
        display: inline-block;
    }
}


@media (max-width: 360px) {
    .hero__left_btn {
        width: 68%;
    }
}

@media (max-width: 556px) {
    .header__mobile {
        width: 77%;
    }
}

@media (max-width: 377px) {
    .mobile__list > li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 283px) {
    .header__mobile {
        width: 100%;
    }

    .mobile__list > li a {
        font-size: 1.2rem;
    }
}

@media (max-width: 202px) {
    .header__top {
        flex-direction: column-reverse;
        gap: 1.3rem;
    }
}