.footer__inner {
    padding-top: 6rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer_h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 1.5rem;
    color: #cfcfcf;
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;

    > li a {
        font-family: 'Clash Display', sans-serif;
        color: #cfcfcf;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        transition: ease-in-out .3s;

        &:hover {
            color: #7456FF;
            transition: ease-in-out .3s;
            font-size: 1.1rem;
        font-family: 'Clash Display', sans-serif;
        }
    }
}

.header__copyright {
    font-family: 'Clash Display', sans-serif;
        color: #cfcfcf;
        font-weight: 500;
        text-align: center;
        font-size: 1rem;
        margin-top: 3rem;
}

.footer__media {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.1rem;

    > a {
        text-decoration: none;
        color: #cfcfcf;
        transition: .2s ease-in;
        font-size: 1rem;

        &:hover {
            color: #7456FF;
            transition: .2s ease-in;
            font-size: 1.2rem;
        }
    }
}