* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: #000000;
}

#halo {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.container {
    margin-left: 3%;
    margin-right: 3%;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #161616;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7456FF;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #402b9c;
  }